html,body {
    margin: 0;
    padding: 0;
    font: .75em 'Lucida Grande', sans-serif;
    color: #333;
}

a:hover {
    text-decoration: underline;
}

a {
    color: #2276BB;
    text-decoration: none;
}


div#content {
    margin: 0 200px;
    text-align: center;
}

div#wrapper {
    float: left;
    width: 100%
}

div#navigation {
    float: left;
    width: 200px;
    margin-left: -200px;
    /*background: #B9CAFF*/
}

div#extra {
    float: left;
    width: 200px;
    margin-left: -100%;
    padding-left: 10px;
    /*background: #FF8539*/
}

div#footer {
    clear: left;
    width: 100%;
    background: #333;
    color: #FFF
}

div#footer p {
    margin: 0;
    padding: 5px 10px
}

#menu {
    float: left;
    display: block;
    width: 100%;
}

#menu li {
    font-size: 150%;
    display: inline;
    float: left;
    margin: 0.2em 0 0 8px;
    padding: 3px 2px;
}

.intro ul {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: disc;
}

#menu li a:hover {
    border: 1px solid #999999;
    color: #999999;
}

#menu li a {
    border: 1px dashed #A4A0A1;
    color: #A4A0A1;
    padding: 3px 12px;
    text-decoration: none;
}

#menu a.act {
    border: 1px solid #000000;
    color: #000000;
}

/*tr {
    text-align: left;
}

tr.headers {
    font-weight: bold;
    text-align: center;
}*/
.addressRisto {
    font-size: x-small;
}

.activitiesList ul {
    text-align: left;
    font-size: 150%;
    display: inline;
    float: left;
    margin: 0.2em 0 0 8px;
}

.activitiesList li {
    text-align: left;
}

.activitiesList li a {
    color: #A4A0A1;
    padding: 3px 12px;
    text-decoration: none;
}

.activitiesList li a:hover {
    color: #000;
}

#search-panel form fieldset {
    border: none;
}

.datatable {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    text-align: left;
}

.datatable tr {
    border-bottom: thin solid;
}

.datatable th {
    font-weight: normal;
    padding-top: 10px;
    width: 11em;
}

.datatable th {
    display: none;
}

.datatable td {
    font-weight: normal;
}

.datatable td {
    font-weight: normal;
    padding-top: 10px;
    text-align: left;
    width: 11em;
}

.datatable td.ristoname {
    font-weight: normal;
    padding-top: 10px;
    width: 22em;
}